*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}
body{
    display: flex;
    padding: 0;
    margin: 0;
    background-color: rgb(226, 226, 226);
}
.menu-sandwich{
    background-color: rgb(59, 59, 59);
    display: none;
    justify-content: space-between;
}
.menu-sandwich button{
    background-color: transparent;
    color: rgb(224, 224, 224);
    border: none;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(226, 226, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 8px;
}
.menu-sandwich h3{
    color: rgb(224, 224, 224);
    margin: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px ;
}
.menu{
    visibility: visible;
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: rgb(59, 59, 59);
    border-right: 1px solid rgb(226, 226, 226);
}
.menu h3{
    color: rgb(224, 224, 224);
    margin: 20px 0px 20px 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px ;
    text-align: center;
    margin-left: auto;
}
.menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
}
.menu-selected{
    border-right: none !important;
    border-radius: 10px 0px 0px 10px !important;
    background-color: rgb(226, 226, 226) !important;
    color: rgb(32, 32, 32) !important;
    margin-right: 0 !important;
    margin-left: 10% !important;
}
.menu ul button{
    background-color: rgb(59, 59, 59);
    border: 1px solid rgb(226, 226, 226);
    border-radius: 10px;
    color: rgb(224, 224, 224);
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    transition: 500ms;
}
.menu ul button:hover{
    background-color: rgb(226, 226, 226) !important;
    color: rgb(32, 32, 32) !important;
    transition: 500ms;
}
.content{
    width: 100%;
    height: 100%;
    margin: 20px 20px 20px 270px;
          /*top  right down left*/
}
.content img:nth-child(1){
    border-radius: 20px;
    margin-right: 15px;
    width: 500px;
}
.content p{
    font-size: 30px;
    text-align: justify;
}

@media (max-width: 900px){
    .menu{
        visibility: hidden;
    }
    .content{
        margin: 20px 20px 20px 20px;
        max-width: calc(100vw - 40px);
        max-height: 100vh;
    }
    .content img:nth-child(1){
        width: calc(100vw - 50px);
    }
    body{
        display: block;
    }
    .menu-sandwich{
        display: flex;
    }
    .menu h3{
        display: none;
    }
}

/* a nap commentje: az kom gec */
