*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}
body{
    display: flex;
    padding: 0;
    margin: 0;
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    background-color:#181a1b;
}
.menu-sandwich{
    position: fixed;
    z-index: 99;
    width: 99vw;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 59, 59);
    display: none;
    justify-content: space-between;
}
.menu-sandwich button{
    background-color: transparent;
    color: #d4d1cb;
    border: none;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid rgb(226, 226, 226);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin: 8px;
}
.menu-sandwich h3{
    color: #d4d1cb;
    margin: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px ;
}
.menu{
    position: fixed;
    z-index: 98;
    width: 250px;
    height: 100vh;
    background-color: rgb(44, 48, 50);
    /*border-right: 1px solid #383d3f;*/
    transition: 500ms;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    
}
.menu div{
    padding-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6vh;
}
.menu a{
    text-decoration: none;
    color: #d4d1cb;
}
.menu h3{
    color: #d4d1cb;
    margin: 20px 0px 20px 32px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px ;
    text-align: center;
    margin-left: auto;
}
.menu ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
}
.menu-selected{
    border-right: none !important;
    border-radius: 10px 0px 0px 10px !important;
    border-right: #181a1b !important;
    background-color: #181a1b !important;
    color: #d4d1cb !important;
    margin-right: 0 !important;
    margin-left: 10% !important;
}
.menu ul button{
    background-color: #2c3032;
    border: 1px solid #383d3f;
    border-radius: 10px;
    color: #d4d1cb;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    transition: 500ms;
}
.menu ul button:hover{
    background-color: #181a1b !important;
    color: #d4d1cb !important;
    transition: 500ms;
}
.bsod{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 9999999999999999999;
}
.sources ul li a{
    text-decoration: underline;
    color:#d4d1cb;
}
.sources ul{
    list-style:none;
}
.content{
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 270px;
          /*top  right down left*/
}
.content img:nth-child(1){
    border-radius: 20px;
    margin-right: 15px;
    width: 500px;
    float: left;
}
.content p{
    color: rgb(224, 224, 224);
    /*text-align: justify;*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.contentsize1{
    font-size: 20px;
}
.contentsize2{
    font-size: 40px;
}
.contentsize3{
    font-size: 80px;
}
.contentsize4{
    font-size: 100px;
}
.contentsize5{
    font-size: 120px;
}
@media (max-width: 900px){
    .content{
        padding: 80px 20px 20px 20px;
        max-width: calc(100vw - 40px);
        max-height: 100vh;
    }
    .content img:nth-child(1){
        width: calc(100vw - 50px);
    }
    body{
        display: block;
    }
    .menu-sandwich{
        display: flex;
    }
    .menu h3{
        display: none;
    }
    .menu ul{
        padding-top: 70px;
    }
}