<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>UwU™</title>
</head>
<body>
    <div class="menu-sandwich">
        <h3>Veszélyes állatok</h3>
        <button onclick="toggleMenu();">Menü</button>
    </div>
    <div class="menu">
        <ul>
            <h3>Veszélyes állatok</h3>
            {% for page in pages %}
            <button class="menu-btn {% if loop.index-1 == 0 %}menu-selected{% endif %}" onclick="switchTo({{loop.index-1}});"><li>{{page['name']}}</li></button>
            {% endfor %}
        </ul>
        <a target="_blank" href="https://github.com/NKkrisz/Veszelyes-Allatok">Github / NKkrisz / Veszelyes-Allatok</a>
    </div>
    {% for page in pages %}
    <div class="content"{% if not loop.index-1 == 0 %}hidden{% endif %}> <!--Page {{loop.index-1}}-->
        {{render_template_string(page['html'])}}
    </div>
    {% endfor %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
</body>
</html>